.main-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  padding: 7%;
  background-size: cover;
  text-align: center;
  height: 100vh;
  font-family: 'Roboto';
}
.heading {
  color: #333333;
}

.stopwatch-container {
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 15px;
  width: 96%;
  text-align: center;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.timer-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.timer-icon {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.stopwatch-label {
  color: #333333;
  font-size: 10px;
  font-weight: bold;
}
.stopwatch-timer {
  color: #333333;
  margin: 10px;
}
.button {
  color: #ffffff;
  height: 25px;
  width: 56px;
  border: none;
  margin: 5px;
  font-size: 10px;
}

.b1 {
  background-color: #1db05f;
}

.b2 {
  background-color: #ef0d36;
}

.b3 {
  background-color: #eaa800;
}

@media screen and (min-width: 768px) {
  .main-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
    background-size: cover;
    text-align: start;
  }
  .stopwatch-container {
    width: 36%;
    height: 40vh;
    align-items: center;
  }
  .stopwatch-label {
    font-size: 20px;
  }
  .timer-icon {
    height: 22px;
    width: 22px;
  }
}
