.language-heading {
  color: #1e293b;
  font-size: 12px;
  font-weight: 700;
}
.active-language {
  color: #0284c7;
  font-weight: 600;
  border: 1px solid #0284c7;
  border-radius: 15px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-self: center;
}
.language-btn {
  background-color: transparent;
  border: none;
}
