.main-container {
  background-color: #ffffff;
  padding: 20px;
  min-height: 100vh;
  padding-top: 40px;
  font-family: 'Roboto';
}
.heading {
  color: #1e293b;
  font-size: 40px;
}

.card-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.comments-img {
  width: 80%;
  margin: 0px;
}

.count {
  background-color: #0284c7;
  color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 0px solid;
  border-radius: 2px;
  font-size: 10px;
  margin-right: 5px;
}

.input-container {
  width: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.description-1 {
  color: #475569;
  font-weight: 500;
}

.input-name {
  height: 34px;
  min-width: 259px;
  border: 0.5px solid;
  border-radius: 3px;
  margin-bottom: 9px;
  padding: 5px;
}

.input-comment {
  margin-bottom: 15px;
  padding: 5px;
}

.button {
  background-color: #0284c7;
  color: #ffffff;
  border: 0px solid;
  border-radius: 5px;
  font-size: 15px;
  width: 130px;
  height: 32px;
  cursor: pointer;
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .card-container {
    flex-direction: row;
  }
  .comments-img {
    order: 1;
  }
}
