.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.cards {
  margin: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  text-align: left;
  max-width: 35vw;
}

.card-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 23px;
}
.card-description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 15px;
}

.img-container {
  text-align: right;
}
